.heroHolder {

    padding: 0px !important;
}

#hero {

    width: 100%;

    .carousel-inner {

        //height: 380px;

        .rightHide {
            vertical-align: middle;
        }

        .item {
            
            .col-xs-8 {
                float: none !important;
                //width: 100%;
                margin-left: auto;
                margin-right: auto;

                img {
                    //width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

    }

    .carousel-control {
        
        display: block;
        height: 100%;

        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
            max-width: 15px;
        }
    }
    
}

#logo {
    
    //margin-top: 50px;
    
    img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

#ourPromise {
    
    font-size: 1.1em;
    color: #3E4E4E;
    
    h1 {
        font-family: good_footregular;
        font-size: 3em;
    }
}

#highlights {

    .leftHighlight {
        padding-right: 25px;
    }
    
    .rightHighlight {
        padding-left: 25px;
    }

    div {
        img {
            display: block;
            width: 65%;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-top: 15px;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-family: proxima_novaextrabold;
            color: #F55B44;
        }

        
    }
}

.collage {

    div {

        padding: 0px;
        margin: 0px;
        margin-bottom: -2px;

        .holder {
            display: inline-block;
            position: relative;
            width: 100%;

            .dummy {
                margin-top: 100%;
            }

            img {
                width: 100%;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
}