/*
    main.less
    Henry Olson 7/25/2016
    Contains non-page-specfic styling
*/

@bg_body: #fff;
@bg_footer: #4E362A;

@txt_header: #E7D7C8;
@txt_main_content: #3E4E4E;
@txt_main_highlight: #F55B44;
@txt_footer: #E7D9C8;

//  ************
//  5 COLUMN LAYOUT
//  ************

.col-xs-05,
.col-sm-05,
.col-md-05,
.col-lg-05 {

    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-05 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) and (min-device-width: 768px) {
    .col-sm-05 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) and (min-device-width: 992px) {
    .col-md-05 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) and (min-device-width: 1200px) {
    .col-lg-05 {
        width: 20%;
        float:left;
    }
}

//  ************
//  FONTS
//  ************

body {
    //text-align: center;
    p {
        font-family: proxima_nova_rgregular;
        //color: @txt_main_content;
    }
}

h1 {
        text-align: center;
        font-family: good_footregular;
        font-size: 3em;
}

h2 {
        font-size: 1.1em;
        letter-spacing: 1.5px;
        font-family: proxima_novaextrabold;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: @txt_main_highlight;
}

h3 {
        font-size: 0.9em;
        letter-spacing: 1.5px;
        font-family: proxima_novaextrabold;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: @txt_main_highlight;
}

h4 {
        font-size: 1.05em;
        font-family: proxima_nova_rgregular;
        font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: proxima_nova_rgregular;
}

a:hover {
    text-decoration: none;
    color: #80C5E8;
    font-family: proxima_nova_rgregular;
}

li {
    font-family: proxima_nova_rgregular;
    color: @txt_main_content;
}

//  ************
//  HEADER
//  ************

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-toggle {
    background-color: @bg_footer;
    margin-top: 20px;
    .icon-bar {
        color: @txt_header;
    }
}

#logo {
    height: 100%;
}

.navbar-brand {
  padding: 0px;
  height: 80px;
  vertical-align: middle;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: @bg_footer;
        .navbar-nav {
            height: 100px;
            padding: none;
            li {
                height: 25px;
                a {
                    display: block;
                    height: 100%;
                    h3 {
                        text-align: right;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

.desktop-links {
        color: @txt_header;
        letter-spacing: 1.5px;
        text-decoration: none;
}

.header {
    color: @txt_header;
    background-image: url('../../assets/images/header_bg.jpg');
    background-size: 100% 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    
    img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.heroHolder {

    padding: 0px !important;
}

//  ************
//  FOOTER
//  ************

.footer {
    background-color: @bg_footer;
    color: @txt_footer;
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: left;

    // set up the footer for mobile
    @media (max-width: 992px) {
        .locationFooter {
            margin-top: 30px;
        }
        text-align: center;
    }

    p {
        font-size: 0.8em;
        line-height: 70%;
    }

    h3 {
        color: @txt_footer;
    }

    .footer-logo {
        display: block;
        margin-top: 12px;
        transform: rotate(8deg);
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .social-images {
        div {
            padding: 0px !important;
            left: 4px;
            margin-right: 3%;
        }
    }

    .social-img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

//  ************
//  MISC-CLASSES
//  ************

.spacer {
    display: block;
    height: 40px;
    @media (max-width: 768px) {
        height: 25px;
    }
}

.text-left {
    text-align: left;
    ol {
        padding-left: inherit;
    }
}

.mobile-spacer {
    @media (max-width: 768px) {
        display: block;
        height: 25px;
    }
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.light {
    color: #888;
}

.center {
    text-align: center;
}